@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins;
    font-size: 16px;
    background-color: #8892b0;
}
h1{
    font-size: 2em ;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.25em;
}


.container{
    padding: 10px;
    line-height: 1.6;
}
.container h1{
    text-align: center;
    margin: 10px;
}

header{
    background-color: #010101 ;
    color: #8892b0;
    padding: 50px;
    line-height: 1.6;
    
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-message{
    max-width: 90vh;
    margin: 20px;
}
header h1,h2{
    color: #e6e6e6;
}
.contact-button{
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 50px;
    background-color: #00ffe0;
    border-radius: 5px;
    border: none;
}
.contact-button:hover{
    opacity: .5;
    transition: opacity ease-in-out .2s;
}
.header-nav a{
    color: #8099e4;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 0;
    border-bottom: 1px solid #010101;
}
.header-nav a:hover{
    border-color: #8892b0;
    scale: 1.05;
    transition: scale ease-in .2s;
}
.header-nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
header p{
    font-size: 1.5em;
}

.header-image img{
    width: 50%;
    border-radius: 50%;
    justify-content: center;
}
.header-image img:hover{
    scale: 1.2;
    transition: scale .5s ease-in;
}
.experiences-contain{
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 10px;
   
}
.experiences-contain div{
    flex: 1;
    background-color: #9ba3b9;
    height: auto;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #010101;
}
.experiences-contain div:hover{
    scale: 1.01;
    transition: scale .1s ease-in;
}
.experiences-contain h3{
    text-align: center;
}
.p-10{
    padding: 10px;
}
#experiences li{
    overflow-wrap: break-word;
    white-space: normal;
}
#experiences h1{
    width: 100%;
    text-align: center;
}
footer{
    background-color: #010101;
    color: #e6e6e6;
    padding: 10px;
    font-size: .9em;
    text-align: center;
}
#about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#about div{
    box-shadow: 2px 2px 10px #010101;
    padding: 20px;
    text-align: center;
    width: 100%;
}
#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}
.projects-contain{
    box-shadow: 2px 2px 10px #010101;
    padding: 40px;
    width: 100%;
    text-align: center;

}
.projects-contain li{
    list-style: none;
}
.projects-contain li a{
    text-decoration: none;
    color: inherit;
}
.projects-contain li a:hover{
    text-decoration: underline;
}
#contact p{
    text-align: center;
}
#contact{
    padding: 20px ;
}
.contact-info{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.contact-info a{
    text-decoration: none;
}
.contact-icones{
    display: flex;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width: 767px){
    body{
        font-size: 12px;
    }
    .header{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;

    }
    .experiences-contain{
        flex-direction: column;
    }
    .contact-info{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    
}
@media screen and (max-width: 390px) {
    .header-nav{
        gap: 8px;
    }
}
